@page "/auth"

<PageTitle>Auth</PageTitle> 

<AuthorizeView>
    <Authorized>
        <h1>You are authenticated</h1>
        <p>Hello @context.User.Identity?.Name!</p>
    </Authorized>

    <NotAuthorized>
        <RedirectToLogin></RedirectToLogin>
    </NotAuthorized>
</AuthorizeView>