@page "/auth"
@using blazor_jwt_auth.Client.Service

@inject IAuthService AuthService

<PageTitle>Auth</PageTitle> 

<AuthorizeView>
    <Authorized>
        <h1>You are authenticated</h1>
        <p>Hello @context.User.Identity?.Name!</p>
    </Authorized>

    <NotAuthorized>
        <RedirectToLogin></RedirectToLogin>
    </NotAuthorized>
</AuthorizeView>

@code {

    protected override async Task OnInitializedAsync()
    {
        var r = await AuthService.Test();
        Console.WriteLine(r);
    }

}